version 5.258.1
source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/fsharp-formatting

nuget Nuget.CommandLine
nuget FAKE
nuget FSharp.Formatting prerelease
nuget System.ValueTuple
nuget Microsoft.AspNet.Mvc
nuget Microsoft.AspNet.Razor

group Net45
  condition: NET45
  source https://api.nuget.org/v3/index.json

  nuget Microsoft.AspNet.Razor ~> 3.0
  nuget Microsoft.CodeAnalysis != 1.0.0-rc2

group Net40
  condition: NET40
  source https://api.nuget.org/v3/index.json
  framework: net40

  nuget Microsoft.AspNet.Razor ~> 2.0

group Razor4
  condition: RAZOR4
  source https://api.nuget.org/v3/index.json

  nuget Microsoft.AspNetCore.Razor ~> 1.0
  nuget Microsoft.CodeAnalysis != 1.0.0-rc2

group Test
  source https://api.nuget.org/v3/index.json

  nuget NUnit ~> 3.6
  nuget NUnit.Console ~> 3.6

// Locked, because support for .NET 40 and Silverlight 5 are dropped in versions 4.5 +
  nuget Moq 4.2.1510.2205

// Locked, because 4.0.2 has breaking changes. If you have some time you can try to fix it.
  nuget Unity 4.0.1